includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkModelAppends: false
    noEnvCallsOutsideOfConfig: false
    ignoreErrors:
        - '#Trait Elegantly\\Conversation\\Concerns\\[a-zA-Z0-9\\_]+ is used zero times and is not analysed.#'